@charset "ISO-8859-1";

html * {
	margin: 0;
	padding: 0;
	color: #fff;
	text-decoration: none;
}

form {
	margin: 0 auto;
	width: 300px;
}

input {
	color: black;
	width: 98%;
	height: 5vh;
	border-color: rgb(210, 115, 138);
	text-align: center;
	border-width: 3px;
}

table {
	width: 100%
}

.addcontact{
	text-align:center;
}

input.submit {
	color: black;
	width: 150px;
	height: 40px;
	margin-left: 25%;
}

body {
	background-image: url("res/windF.gif");
	background-repeat: repeat;
	max-width: 100%;
  height: auto;
}

.content {
	width: 50%;
	margin: 0 auto;
	margin-top: 0;
	height: 100%;
}

.container {
	width: 100%; /* Can be in percentage also. */
	height: 100%;
	margin: 0 auto;
	padding: 10px;
	max-width: 700px;
}

.vertical-center {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 100px;
	max-width: 500px;
	margin: 0;
	border-radius: 12px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.imagem {
	border-radius: 12px;
	width: 100%;

}

h1.add {
	text-align: center;
}
/*
textarea:focus, input:focus {
    color: #000000;
}

input, select, textarea{
    color: #000000;
}
*/